.fakeInput {
  input {
    display: none;
  }
}
.body {
  position: relative;
  max-width: 328px;
  overflow: hidden;
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 8px;
  color: #070b35;
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0d0f2b;
  margin-bottom: 16px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input {
  display: flex;
  flex-direction: column;
  label {
    font-family: "Gilroy Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
    color: #738094;
  }
  input {
    background: rgba(234, 242, 251, 0.5);
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(234, 242, 251, 0.5);
    border-radius: 8px;
    font-family: "Gilroy Medium";
    font-size: 16px;
    line-height: 16px;
    padding: 12px 9px;
    color: #04050b;
    &::placeholder {
      font-family: "Gilroy Medium";
      font-size: 16px;
      line-height: 16px;
      color: #0d0f2bc9;
    }
  }
}

.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fakeInput {
  z-index: 10;
}
.fileDescription {
  max-width: 185px;
  font-family: "Gilroy Regular";
  font-size: 14px;
  line-height: 16px;

  color: #738094;
}
.submit {
  margin-top: 16px;
}
.fake {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
  color: #ff507d;
}
