.react-calendar {
  min-height: 292px;
  max-height: 450px;
  margin-bottom: 20px;
}
.react-calendar__navigation__next2-button {
  display: none !important;
}
.react-calendar__navigation__prev2-button {
  display: none !important;
}
.react-calendar__tile {
  font-size: 16px;
  text-align: center;
  color: #0d0f2a;
}
.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.6;
}
.react-calendar__tile.react-calendar__month-view__days__day {
  transition: all 0.3 ease;
}
.react-calendar__tile.react-calendar__month-view__days__day:hover {
  font-weight: 700;
  color: #ff507d;
  cursor: pointer;
  transition: all 0.3 ease;
}
.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;

  color: #0d0f2b;
}
.react-calendar__navigation {
  display: flex;
  margin: 0 auto 25px;
  max-width: 152px;
}
.react-calendar__navigation__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  width: 24px;
  height: 24px;
  font-size: 21px;
  color: #738094;
  font-weight: 700;
  background: rgba(115, 128, 148, 0.1);
  border-radius: 99px;
  cursor: pointer;
}
.react-calendar__month-view__weekdays {
  margin-bottom: 16px;
}
.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: rgba(13, 15, 42, 0.5);
}
.react-calendar__month-view__days {
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  column-gap: 18px;
}
.react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  max-width: 28px !important;
  height: 28px;
  max-width: fit-content;
}
.react-calendar__tile--active {
  background: #ff507d;
  border-radius: 99px;
  color: white;
  font-weight: 700;
}
.react-calendar__tile.react-calendar__tile--active:hover {
  background: #ff507d;
  border-radius: 99px;
  color: white;
  font-weight: 700;
}


.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__month-view__days__day {
  background: #ff507d;
  color: white;
  font-weight: 700;
  opacity: 1;
}
.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__month-view__days__day::before{
  content: '';
  left: 10px;
  width:27px;
  height: 28px;
}


.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeEnd.react-calendar__month-view__days__day {
  background: #ff507d;
  color: white;
  font-weight: 700;
  opacity: 1;
}
.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeEnd.react-calendar__month-view__days__day::before {
  content: '';
  right: 10px;
  width:27px;
  height: 28px;
}


.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__month-view__days__day {
  position: relative;
  background: transparent;
  color: #0d0f2a;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  opacity: 1;
  overflow:visible !important;
}
.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__month-view__days__day::before{
  content: '';
  position: absolute;
  display: block;
  background: #ff507d26;
  width: 46px;
  height: 28px;
}
.react-calendar__navigation__label {
  position: relative;
}
.react-calendar__navigation__prev-button {
  position: relative;
}
