@font-face {
  font-family: "Gilroy Semibold";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-SemiBold.woff") format("woff"),
    url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-ExtraBold.woff") format("woff"),
    url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Bold";
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Regular";
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Medium";
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,
button {
  font-family: inherit;
  text-decoration: none;
  border: none;
  background: transparent;
  cursor: pointer;
}
input{
  border: none;
  outline: none;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.075);
}
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.685);
  border-radius: 99px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
  border-radius: 99px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative;
  margin-top: 16px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ff507d !important;
}
.swiper-pagination-bullet {
  background: rgba(255, 80, 124, 0.927) !important;
}
.ql-editor{
  min-height: 300px;
}
.hide-scroll {
  overflow: hidden;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -10px; /* Centers thumb on the track */
  background: linear-gradient(270deg, #277ad2 0%, #81bcfb 100%);
  border: 3px solid #ffffff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 99px;
  width: 24px;
  height: 24px;
  z-index: 10;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(39, 122, 210, 0.1);
  border-radius: 8px;
  height: 8px;
  z-index: 10;
}
input[type="range"]::-moz-range-track {
  background: rgba(39, 122, 210, 0.1);
  border-radius: 8px;
  height: 8px;
}
