.filters {
  max-width: fit-content;
  margin: 24px auto 18px;
  display: flex;
  align-items: center;
  gap: 22px;
  font-family: "Raleway";
}
.filterBtn {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 80, 125, 0.5);
  cursor: pointer;
  border-radius: 8px;
  transition: color 0.3s ease;
}
.filterBtnSelected {
  background: #ff507d;
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.filterBtn:hover {
  color: #ff507d;
}
.filterBtn:active {
  color: #ce0436;
}
.infoBlock {
  display: flex;
  gap: 16px;
  @media (max-width: 1210px) {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 10px;
    overflow-x: auto;
  }
  @media (max-width: 550px) {
    padding: 0px 12px 10px 2px;
    margin:0px 0px 0px 8px;
  }
  &::-webkit-scrollbar {
    height: 11px;
  }
  &::-webkit-scrollbar-track {
    background: #ff507c00;
  }
  &::-webkit-scrollbar-thumb {
    background: #ff507d;
    border-radius: 99px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #ff507d;
    border-radius: 99px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
}
.item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  max-width: 228px;
  width: 100%;
  @media (max-width: 1210px) {
    min-width: 220px;
    padding: 12px 12px 16px 12px;
  }
  background: #ffffff;
  border: 1px solid rgba(83, 98, 124, 0.14);
  border-radius: 16px;
  padding: 12px 16px 16px 16px;
  img {
    border-radius: 50%;
    max-width: 64px;
    height: auto;
    object-fit: contain;
  }
}
.name {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #0d0f2b;
}
.text {
  font-weight: 400;
  line-height: 16px;
  font-size: 16px;
  color: #738094;
  @media (max-width: 420px) {
    font-size: 14px;
  }
}
