.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(13, 15, 43, 0.5);
  transition: all 0.2s ease;
  z-index: 2;
}
.closeBtn{
  position: absolute;
  top: 22px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
}
.head {
  max-width: 868px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  span {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #0d0f2b;
  }
  @media (max-width: 930px) {
    max-width: 777px !important;
  }
  @media (max-width: 769px) {
    max-width: 657px !important;
  }
  @media (max-width: 699px) {
    max-width: 527px !important;
  }
  @media (max-width: 570px) {
    max-width: 487px !important;
  }
  @media (max-width:500px) {
    max-width: 417px !important;
  }
  @media (max-width:420px) {
    max-width: 90vw !important;
  }
}
.body {
  position: absolute;
  min-width: 360px;
  max-width: fit-content;
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(83, 98, 124, 0.07);
  border-radius: 16px;
  @media (max-width:420px) {
    max-width: 94vw !important;
    min-width: 94vw !important;
  }
}
.claim {
  @media (max-width: 930px) {
    max-width: 827px !important;
  }
  @media (max-width: 769px) {
    max-width: 687px !important;
  }
  @media (max-width: 699px) {
    max-width: 567px !important;
  }
  @media (max-width: 570px) {
    max-width: 507px !important;
  }
  @media (max-width:500px) {
    max-width: 437px !important;
  }
  @media (max-width:420px) {
    max-width: 94vw !important;
    min-width: 94vw !important;
  }
}
