@import "../../styles/vars.scss";

.btn {
  font-weight: 600;
  font-size: 16px;
  color: white;
  line-height: 19px;
  opacity: 1;
  transition: all 0.22s ease;
  background: #ff507d;
  border-radius: 99px;
  padding: 8px 18px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover{
    background: #d72e58;
}
.link{
  font-weight: 600;
  font-size: 16px;
  color: white;
  line-height: 19px;
  opacity: 1;
  transition: all 0.22s ease;
  background: #ff507d;
  border-radius: 99px;
  padding: 8px 18px;
  transition: all 0.3s ease;
}
.link:hover{
  background: #d72e58;
}