@import "./vars.scss";

.footer{
  flex: 0 0 auto;
}
.container {
  max-width: 1318px;
  margin: 24px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width:1400px) {
    padding: 0px 10px;
  }
  @media (max-width: 780px) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
.links {
  display: flex;
  gap: 32px;
  @media (max-width: 780px) {
    gap: 16px;
  }
}
.socialmedia {
  display: flex;
  align-items: center;
  gap: 15px;
  img{
    @media (max-width: 450px) {
      width: 20px;
      height: auto;
    }
  }
}
.link {
  font-size: 16px;
  line-height: 19px;
  color: $backNav;
  opacity: 1;
  transition: all 0.22s ease;
}
.link:hover {
  opacity: 0.7;
}
.textLight {
  font-size: 16px;
  line-height: 19px;
  color: rgba(13, 15, 42, 0.5);
}
.footerModalText{
  margin-top: 20px;
  max-height: 80vh;
  overflow-y: auto;
  p{
    margin: 5px 0;
  }
}