@import "./vars.scss";
.rows {
  background: $backBg;
  padding: 0 10px;
}
.row {
  max-width: 1318px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.row:first-child {
  padding: 6px 0px;
  font-size: 14px;
}
.rowItem {
  display: flex;
  gap: 10px;
}
.textLight {
  color: $whiteOpacity;
}
.textWhite {
  font-style: normal;
  color: white;
  font-weight: 600;
  line-height: 16px;
  text-align: right;
  @media (max-width:541px) {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}
