@import "./vars.scss";

.row {
  position: relative;
  max-width: 1318px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 0px 10px;
  margin-top: 8px;
  @media (max-width: 780px) {
    padding: 0px 16px;
  }
  @media (max-width: 540px) {
    padding: 0px 12px;
  }
}
.logo {

  img {
    border-radius: 10px;
    overflow: hidden;
    @media (max-width: 540px) {
      max-width: 100px;
      height: auto;
      object-fit: contain;
  
    }
  }
}
.input {
  display: flex;
  align-items: center;
  max-width: 460px;
  width: 100%;
  margin: 0px 22px 0px 19px;
  @media (max-width: 780px) {
    margin: 0px 2px 0px 19px;
  }
  @media (max-width: 540px) {
    margin: 0px 15px 0px 13px;
  }
}
.links {
  display: flex;
  gap: 24px;
  font-weight: 400;
  @media (max-width: 1500px) {
    gap: 18px;
  }
  @media (max-width: 1400px) {
    gap: 14px;
  }
  @media (max-width: 1300px) {
    gap: 12px;
  }
  @media (max-width: 1220px) {
    display: none;
  }
}
.link {
  font-size: 16px;
  line-height: 19px;
  color: $backNav;
  opacity: 1;
  transition: all 0.22s ease;
  @media (max-width: 1400px) {
    font-size: 14px;
  }
}
.link:hover {
  opacity: 0.7;
}
.btn {
  display: flex;
  margin-left: 18px;
  @media (max-width: 1400px) {
    text-align: center;
    min-width: 151px;
  }
  @media (max-width: 1220px) {
    margin-right: 16px;
  }
  @media (max-width: 540px) {
    display: none;
  }
}
.wlModal {
  position: absolute;
  right: -90px;
  top: -50px;
  max-width: 360px;
  width: 100%;
  @media (max-width: 1500px) {
    right: -50px;
  }
  @media (max-width: 1450px) {
    right: 40px;
  }
  @media (max-width: 541px) {
    top: -35px;
    right: 10%;
  }
  @media (max-width: 441px) {
    right: 0%;
    left: 0%;
  }
}
