.projects {
  display: flex;
  flex-direction: column;
}
.project {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  gap: 15px;
  color: #070b35;
  transition: background 0.3s ease;
  &:hover {
    background: rgba(0, 0, 0, 0.055);
  }
  @media (max-width: 420px) {
    padding: 4px 4px;
    gap: 8px;
  }
}
.title {
  font-weight: 700;
  font-size: 18px;
  @media (max-width: 420px) {
    font-size: 16px;
  }
}
.description {
  font-size: 15px;
  @media (max-width: 420px) {
    font-size: 14px;
  }
}
.img {
  img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    border-radius: 50%;
  }
}
.info {
  display: flex;
  flex-direction: column;
}
.type {
  padding: 10px;
  color: gray;
  background: rgba(234, 242, 251, 0.5019607843);
}
