.body {
  max-width: 438px;
  width: 100%;
  max-height: 179px;
  padding: 16px;
  border: 2px solid #f5f9fd;
  border-radius: 16px;
  @media (max-width: 769px) {
    max-width: 336px;
  }
}
.row {
  display: flex;
  justify-content: space-between;
  span {
    font-family: "Gilroy SemiBold";
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #0d0f2b;
  }
}
.valueBlock {
  max-width: fit-content;
  margin: 10px auto 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;

}
.key {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #738094;

}
.value {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #0d0f2b;
}
.btns {
  display: flex;
  gap: 10px;
}
