.body{
    margin: 30px 0 20px 10px;
    @media (max-width:730px) {
        margin: 0;
        margin-bottom: 10px;
        padding: 10px;
    }
}
.title{
    margin: 10px 0 20px 10px;
    @media (max-width:730px) {
        margin: 0;
        margin-bottom: 20px;
    }
}
.save{
    margin-top: 15px;
}
.links{
    margin-bottom: 25px;
}
.successBtn{
    margin-top: 15px;
}
.discordLink{
    margin: 30px 0;
}