.addBtn {
  margin-top: 15px;
  width: 300px;
  @media (max-width: 595px) {
    width: 90vw;
    button{
        max-width: 100% !important;
        width: 100%;
    }
  }
}
.items {
  max-width: 310px;
  max-height: 320px;
  overflow: auto;
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @media (max-width: 595px) {
    max-width: 90vw;
  }
}
.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
  max-width: 300px;
  width: 100%;
  padding: 10px 15px 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.153);
  @media (max-width: 595px) {
    max-width: 90vw;
    input{
        max-width: 100%;
    }
  }
}
.remove {
  max-width: fit-content;
  margin: 0 auto;
  border-bottom: 1px solid black;
  transition: all 0.3s ease;
}
.remove:hover {
  color: #ff7497;
  border-bottom: 1px solid #ff7497;
}
