.icon {
  max-width: 17px;
  max-height: 16px;
  fill: #f9a35365;
}
.row {
  display: flex;
  button {
    @media (max-width: 595px) {
      width: 35px;
      max-height: 39px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.selected {
  fill: #f9a353;
}
