.username{
    margin: 15px 0;
    display: flex;
    gap: 4px;
    font-size: 18px;
}
.value{
    font-weight: 700;
}
.inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}